* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background: linear-gradient(75.7deg, #6096ef 42.52%, #946aee 100%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto 20px;
}
.area-to-list {
  width: 100%;
  max-width: 800px;
}
.header-to-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.25);
  border-radius: 8px 8px 0px 0px;
  padding: 15px 25px;
}
.area-data {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.area-data h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #faf527;
}
.mes {
  font-size: 1.4rem;
  margin-bottom: 4px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans", sans-serif;
}
.ano {
  font-size: 1rem;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans", sans-serif;
}
.dia-to-list {
  width: 200px;
  text-align: end;
}
.dia {
  font-size: 1.4rem;
  margin-bottom: 4px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans", sans-serif;
}
.foto-perfil img {
  display: block;
  border-radius: 50%;
}
.conteudo-list {
  background: white;
  padding: 50px 40px;
  position: relative;
  border-radius: 0px 0px 8px 8px;
}
.caixa-list {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 25px;
  background: white;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.item-list {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: relative;
}
.li-lista {
  border: 2px solid #239efe;
  border-radius: 8px;
  padding: 6px 0;
  margin-bottom: 20px;
}
.item-list p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background: #ff6565;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  display: block;
  position: relative;
  top: -25px;
  margin: 0 auto;
}
.btn-save{
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background: #ff6565;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.btn:hover,.btn-save:hover {
  background: #fc7676;
}

.item-list p::before {
  content: "";
  width: 8px;
  height: 4px;
  background: #fc7676;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 10px;
}

.dia,
.mes {
  text-transform: capitalize;
}

.modal{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
.modal.ativo{
  display: flex;
}
.form-modal{
  background: white;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid #fc7676;
}
.cont-form label{
  display: block;
  font-family: 'Poppins' ,sans-serif;
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 600;
}
.cont-form input{
  padding: 8px;
  font-family: 'Poppins' ,sans-serif;
  border-radius: 8px;
  outline:0;
  border: 2px solid rgb(129, 129, 129);
  font-size: 1rem;;
  margin-bottom: 10px;
}
.cont-form input:focus{
 border:2px solid #239efe;
}
.cont-form input.ativo{
 border:2px solid red;
}
.item-list p {
  font-weight: bold;
}
.controles button{
  background: transparent;
  border: none;
  cursor: pointer;
}

.li-lista.finalizado{
  background: rgb(100, 226, 100);
  opacity: .5;
  border: none;
}
@media(max-width:400px){
  .foto-perfil{
    display: none;
  }
  .header-to-list{
    flex-direction: column;
  }
  .dia{
    text-align: center;
  }
  .area-data{
    justify-content: center;
  }
}
